<a href="https://colab.research.google.com/github/SUGUNAPRAHAASH/python-basics/blob/main/SUGUNA_PRAHAASH_N_M.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##COMPARISION OPERATOR

In [ ]:

a=10
b=5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

##ARITHMETIC OPERATOR

In [ ]:
#arithmetic operator
a=10
b=5
print("addition-", a+b)
print("subtraction-", a-b)
print("multiplication-", a*b)
print("division-", a/b)
print("(modulus)remainder-", a%b)
print("floor division-", a//b)
print("SQRT-", a**b)

addition- 15
subtraction- 5
multiplication- 50
division- 2.0
(modulus)remainder- 0
floor division- 2
SQRT- 100000

##SIMPLE CALCULATOR

In [ ]:
#simple calculator
a=100
b=50
ad=a+b
print("addition=", ad)
sub=a-b
print("subtraction=", sub)
mul=a*b
print("multiplication=", mul)
div=a/b
print("division=", div)

addition= 150
subtraction= 50
multiplication= 5000
division= 2.0

##LOGICAL OPERATOR

In [ ]:
#logical operator
a=10
b=5
print(a>b and b<a)
print(a>b or b<a)
print(not(a>b and b<a))

True
True
False

##IDENTITY OPERATOR

In [ ]:
#identity operator
a=10
b=5
print(a is b)
print(a is not b)

False
True

##MEMBERSHIP OPERATOR

In [ ]:
#membership operator
a=10
b=[5,10,6]
print(a in b)
print(a not in b)

True
False

##BITWISE OPERATOR

In [ ]:
#bitwise operator
a=5
b=4
print(a&b)
print(a|b)
print(~a)
print(a>>2) #divide 2 two time(right shift)
print(a<<2) #multiply 2 two time(left shift)

4
5
-6
1
20

##MULTIPLICATION TABLE

In [ ]:
for i in range(1,11):
  print(i,"  x  21  =  ",i*21)

1   x  21  =   21
2   x  21  =   42
3   x  21  =   63
4   x  21  =   84
5   x  21  =   105
6   x  21  =   126
7   x  21  =   147
8   x  21  =   168
9   x  21  =   189
10   x  21  =   210

##Create a program to check if a student is eligible for a grade based on attendance and marks.

Input: Attendance percentage and total marks
Output:
Print "Eligible for Grade" if attendance is 75% or more and marks are 40 or more.
Print "Not Eligible due to Attendance" if attendance is less than 75%.
Print "Not Eligible due to Marks" if attendance is sufficient but marks are less than 40

In [ ]:
a=float(input("enter total marks scored:"))
b=float(input("enter attendance percentage:"))
if a>=40:
  if b>=75:
    print("Eligible for grade")
  else:
       print("not eligible for grade because of low attendance")
else:
    print("not eligible for grade because of low marks")

enter total marks scored:39
enter attendance percentage:74
not eligible for grade because of low marks

In [ ]:
a=float(input("enter total marks scored:"))
b=float(input("enter attendance percentage:"))
if a>=40 and b>=75:
  print("Eligible for grade")
elif a<40 and b<75:
    print("not eligible for grade because of low marks and attendance")
elif b<75:
    print("not eligible for grade because of low attendance")
else:
    print("not eligible for grade because of low marks")

enter total marks scored:41
enter attendance percentage:74
not eligible for grade because of low attendance

##Write a program that applies a discount based on the amount spent.

In [ ]:
pa=int(input("enter purchase amount"))
if pa<=100:
  print("no discount")
elif pa>100 and pa<=200:
  print("discount=10%-",pa*(10/100))
elif pa>200 and pa<=500:
  print("discount=15%",pa*(15/100))
elif pa>500:
  print("discount=20%",pa*(20/100))

enter purchase amount600
discount=20% 120.0

In [ ]:
pa=int(input("enter purchase amount"))
if pa<=100:
  print("no discount")
elif pa>100 and pa<=200:
  print("discount=10%-",pa*0.1)
elif pa>200 and pa<=500:
  print("discount=15%",pa*0.15)
elif pa>500:
  print("discount=20%",pa*0.2)

enter purchase amount90
no discount

##CALCULATOR

In [ ]:
a=float(input("enter a"))
b=float(input("enter b "))
c=input("enter operator")
if c=="+":
  print("a+b=",a+b)
elif c=="-":
  print("a-b=",a-b)
elif c=="*":
  print("a*b=",a*b)
elif c=="/":
  print("a/b=",a/b)
elif c=="%":
  print("a%b=",a%b)
elif c=="**":
  print("a**b=",a**b)

enter a2
enter b 3
enter operator+
a+b= 5.0

##WHILE LOOP

In [ ]:
while True:
  a=input("type exit to stop=")
  if a.lower()=="exit":
    break
  else:
    print(a)

type exit to stop=HELLO
HELLO
type exit to stop=EXIT

In [ ]:
a=[1,2,5,4,3]
b=len(a)
index=0
while index<b:
  print(a[index])
  if a[index]==a[3]:
    print("all items in list were printed")
    break
  index=index+1

1
2
5
4
all items in list were printed

In [ ]:
a=int(input("enter stop timer value"))
while a>0:
  print(a)
  a=a-1
print("over")

enter stop timer value50
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
over

In [ ]:
a=0
b=1
while b<=30:
  a=a+b
  print(a)
  b=b+1

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465

##USER LOGIN

In [ ]:
n=0
while n<=3:
  username=input("enter username")
  password=input("enter password")
  if username=="abc" and password=="123":
    print("successful")
    break
  else:
    n=n+1
    if n>3:
      print("login failed , too many attemps ,wait for 24 hours")
    else:
      print("login failed")

enter username12
enter password21
login failed
enter username11
enter password11
login failed
enter username112
enter password22
login failed
enter username13
enter password31
login failed , too many attemps ,wait for 24 hours

In [ ]:
for i in range(5,10,1):
  if i==8:
    break
  print(i)

5
6
7

##REVERSED LIST

In [ ]:


li1= [10,100,20,40,21]
li2= list(reversed(li1))
print(li2)

[21, 40, 20, 100, 10]

In [ ]:
a=int(input("enter the number"))
for i in range(a):
  print (i)

enter the number5
0
1
2
3
4

##FACTORIAL

In [ ]:
a=int(input("enter the number"))
fact=1
for i in range(1,(a+1)):
  fact=fact*i
  print(fact)

enter the number5
1
2
6
24
120

#PALINDROME

In [ ]:
a=input("enter input")
b=""
for i in a:
  b=i+b
if a==b:
  print("palindrome")
else:
 print("not palindrome")

enter inputRACECAR
palindrome

In [ ]:
a=input("enter input")
b="".join(reversed(a)) #reversed(a) will reverse and add comma [r,a,c,e,c,a,r]
print(b)
if a==b:
  print("palindrome")
else:
  print("not palindrome")

enter inputbab
bab
palindrome

##PATTERN

##RIGHT ANGLE

In [ ]:
a="*"
for i in range(5):
  print(a)
  a=a+"*"

*
**
***
****
*****

In [ ]:
a=input("enter anything")
b=a
for i in range(5):
  print(b)
  b=b+a

enter anything1
1
11
111
1111
11111

In [ ]:
a=" "
b=input("enter anything")
for i in range(5):   #This outer loop will run 5 times. The variable i is not used in the loop body, but it controls how many times the loop executes.
  print(a)
  for j in range(5):
    print(b,end=" ") #end to print in single line

    #or a=5
    #for i in range(a):
    #print("*"*5)

enter anything*

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

##RIGHT ANGLE-RIGHT ALIGNED

In [ ]:
a=5
for i in range(a):
  print((" "*(a-i)) + (i*"*"))

    *
   **
  ***
 ****

In [ ]:
a=5
for i in range(a):
  print("*"*5)

*****
*****
*****
*****
*****

###**DEFINING FUNCTION**

In [ ]:
#temperature conversion
def celtofar(celcius):
  print("fah is",(celcius*9/5)+32)
def fartocel(far):
  print("fah is",(far-32)*5/9)

In [ ]:
celtofar(100)
fartocel(212)

fah is 212.0
fah is 100.0

In [ ]:
#arithematic calculation

def calculator(a,b,c):
  print("addition",a+b+c)
  print("sub",a-b-c)
  print("mul",a*b*c)
  if a!=0 and b!=0 and c!=0:
    print("div",a/b/c)
  else:
    print("wrong input")

In [ ]:
calculator(100,50,0)

addition 150
sub 50
mul 0
wrong input

##NESTED FUNCTION

In [ ]:
def bankaccount():
  balance=5000
  def deposit():
    amount=int(input("enter deposit amount \n"))
    nonlocal balance
    balance=balance+amount
    print(f"successfully deposited \nur balance is : {balance}")
         #string format or f string
  def withdraw():
    nonlocal balance
    amount=int(input("enter withdraw amount"))
    if balance>amount:
      balance=balance-amount
      print(f"successfully debited {amount} \nur balance is : {balance}")
    else:
      print("insufficient funds")
  deposit()
  withdraw()

In [ ]:
bankaccount()

enter deposit amount
10000
successfully deposited
ur balance is : 15000
enter withdraw amount200000
insufficient funds

##ARGUMENTS AND PARAMETERS

1. Positional Arguments:
What they are: Positional arguments are the most common type of arguments in Python. When you call a function, you pass values to the parameters of the function in the same order as they are defined in the function.

   How they work: The function assigns the values to the parameters based on their position

2. Default Arguments:
What they are: Default arguments are parameters that have a default value assigned in the function definition. If the caller does not provide a value for that argument, the default value is used.

   How they work: You can set a default value for one or more parameters, so you don't have to provide them every time you call the function

3. Keyword Arguments:
What they are: Keyword arguments are arguments passed to the function by explicitly specifying the parameter name in the function call. This makes the order of arguments flexible.

   How they work: You pass the argument values with the name of the

   parameter explicitly.

4. Arbitrary Number of Arguments (*args):
What it is: Sometimes, you may not know how many arguments you want to pass to a function. In these cases, you can use *args, which allows you to pass an arbitrary number of positional arguments to a function. These arguments will be collected into a tuple.

5. Arbitrary Keyword Arguments (**kwargs):
What it is: If you want to pass an arbitrary number of keyword arguments (i.e., key-value pairs) to a function, you can use **kwargs. These arguments will be collected into a dictionary.

In [ ]:
#SIMPLE HOTEL BOOKING USING KEYWORD ,POSITIONAL ARGUMENT AND DEFAULT ARGUMENT

def hotel(name,id_type,id_number,nights,room_type,no_person,pickup="NO",breakfast="NO"):
  print(f"BOOkING for\t-\t{name}")
  print(f"ID type \t-\t{id_type}")
  print(f"ID NUMBER\t-\t{id_number}")
  print(f"NO OF NIGHTS\t-\t{nights}")
  print(f"ROOM TYPE\t-\t{room_type}")
  print(f"PICKUP\t\t-\t{pickup}")
  print(f"BREAK FAST\t-\t{breakfast}")
  if no_person>3:
    print("only 3 person per room allowed")
  else:
    print("no of persons\t-\t{}".format(no_person))    #same as f string (just for my notes) ( {}-place holder )

In [ ]:
hotel("PRAHAASH","AADHAAR",7056,2,"STANDARD",3)
print("\n\n")
hotel("PRAHAASH","AADHAAR",7056,2,"STANDARD",3,pickup="YES")
print("\n\n")
hotel("PRAHAASH","AADHAAR",7056,2,"STANDARD",3,pickup="YES",breakfast="MAYBE")
print("\n\n")
hotel("PRAHAASH","AADHAAR",7056,2,"STANDARD",4,pickup="YES",breakfast="MAYBE")

BOOkING for	-	PRAHAASH
ID type 	-	AADHAAR
ID NUMBER	-	7056
NO OF NIGHTS	-	2
ROOM TYPE	-	STANDARD
PICKUP		-	NO
BREAK FAST	-	NO
no of persons	-	3



BOOkING for	-	PRAHAASH
ID type 	-	AADHAAR
ID NUMBER	-	7056
NO OF NIGHTS	-	2
ROOM TYPE	-	STANDARD
PICKUP		-	YES
BREAK FAST	-	NO
no of persons	-	3



BOOkING for	-	PRAHAASH
ID type 	-	AADHAAR
ID NUMBER	-	7056
NO OF NIGHTS	-	2
ROOM TYPE	-	STANDARD
PICKUP		-	YES
BREAK FAST	-	MAYBE
no of persons	-	3



BOOkING for	-	PRAHAASH
ID type 	-	AADHAAR
ID NUMBER	-	7056
NO OF NIGHTS	-	2
ROOM TYPE	-	STANDARD
PICKUP		-	YES
BREAK FAST	-	MAYBE
only 3 person per room allowed

In [ ]:
#ARBITARY
import operator
from functools import reduce
def cal():
  def calculator(*args):
    add=sum(args)
    sub=reduce(operator.sub,args)
    mul=reduce(operator.mul,args)
    return add,sub,mul
  return calculator(10,20,20,30,100)

In [ ]:
a=cal()
print("add,sub,mul\t=\t",a)

add,sub,mul	=	 (180, -160, 12000000)

##Arbitrary Keyword Arguments (*kwargs)

In [ ]:
def userprofile(username, **kwargs):  #username is must ,so i used it seperately
  profile={'username':username}
  profile.update(kwargs)
  return profile

In [ ]:
userprofile('prahaash',age=29,blood_group='o+ve',qualification='be',empty='empty')   #while passing arguements you should use =,,,in output it will show as :

{'username': 'prahaash',
 'age': 29,
 'blood_group': 'o+ve',
 'qualification': 'be',
 'empty': 'empty'}

## TASK (12-11-2024)
1.Write a function called calculator that defines two inner functions: add and multiply.
add(a, b) should return the sum of a and b.
multiply(a, b) should return the product of a and b.

In [ ]:
"""def calculator():
  def add(a,b,c):
    print(f"add\t=\t",a+b+c)
  def sub(a,b,c):
    print("sub\t=\t",a-b-c)
  def mul(a,b,c):
    print("mul\t=\t",a*b*c)
  def div(a,b,c):
    if a!=0 and b!=0 and c!=0:
      print("div\t=\t",(a/b)/c)
    else:
      print("wrong input")
  add(100,40,5)
  sub(100,40,5)
  mul(100,40,5)
  div(100,40,5)"""

def calculator():
  def add(a,b):
    print(f"add\t=\t",a+b)
  def sub(a,b):
    print("sub\t=\t",a-b)
  def mul(a,b,):
    print("mul\t=\t",a*b)
  def div(a,b,):
    if b!=0:
      print("div\t=\t",(a/b))
    else:
      print("wrong input")
  add(100,40)
  sub(100,40)
  mul(100,40)
  div(100,40)

In [ ]:
calculator()

add	=	 140
sub	=	 60
mul	=	 4000
div	=	 2.5

##2.Write a function outer_function that:

Takes one argument, x.
Defines an inner function inner_function inside it that squares the value of x.
The outer_function should return the result from inner_function.

In [ ]:
def sqr(x):
  def inner():
    print(f"the square of {x} is\t=\t",x**2)
  inner()

In [ ]:
sqr(5)

the square of 5 is	=	 25

##3.Write a function called calculator. The calculator function should:
Take two arguments, a and b.
Return a tuple containing the result of add(a, b) and multiply(a, b)

In [ ]:
def calculator():
  def add(a,b,c):
    ad=a+b+c
    print(f"add\t=\t",ad)
    return ad
  def sub(a,b,c):
    su=a-b-c
    print("sub\t=\t",su)
    return su
  def mul(a,b,c):
    mu=a*b*c
    print("mul\t=\t",mu)
    return mu
  return add(100,40,5), sub(100,40,5), mul(100,40,5)

In [ ]:
tupleresult=tuple(calculator())
list1=list(calculator())
print("combined result in tuple\t=\t",tupleresult)
print("\ncombained result in list\t=\t",list1)

add	=	 145
sub	=	 55
mul	=	 20000
add	=	 145
sub	=	 55
mul	=	 20000
combined result in tuple	=	 (145, 55, 20000)

combained result in list	=	 [145, 55, 20000]

In [ ]:

tupleresult = tuple(calculator())
list1 = list(calculator())

#each element in tuple as key and each in list as value
combined_dict = dict(zip(tupleresult, list1))

print("Combined result in dictionary =\t", combined_dict)

add	=	 145
sub	=	 55
mul	=	 20000
add	=	 145
sub	=	 55
mul	=	 20000
Combined result in dictionary =	 {145: 145, 55: 55, 20000: 20000}

#LIST
1.ORDERED
2.MUTABLE
3.ALLOWS DUPLICATES
4.CAN ACCESSED BY INDEX
5.ITERATES IN INSERTION


#↘ LIST METHODS

In [ ]:
#append extend insert
li1=[]
li2=[]
li1.append(5)
print("append  take only one arguement ",li1)
li1.append([3,5])
print("if we give more than one makes list into list",li1)
li1.extend([5,6,7,10,12,13,7])
print("with extend we can give multiple items to list  ",li1)
li1.insert(1,8)                                      #li.insert(index,item)
print("in index no 1 it will add 8",li1)

append  take only one arguement  [5]
if we give more than one makes list into list [5, [3, 5]]
with extend we can give multiple items to list   [5, [3, 5], 5, 6, 7, 10, 12, 13, 7]
in index no 1 it will add 8 [5, 8, [3, 5], 5, 6, 7, 10, 12, 13, 7]

In [ ]:
#remove(item)
li1.remove(5) #Removes the first occurrence of a specified item from the list.
print(li1)

[8, [3, 5], 5, 6, 7, 10, 12, 13, 7]

In [ ]:
#pop
li1.pop(1)     #pop(index) removes the item for given index
print(li1)

[8, 5, 6, 7, 10, 12, 13, 7]

In [ ]:
#clear
li1.clear()       #removes all item from the list and give empty list
print(li1)

[]

In [ ]:
#delete      it delete the whole list
del li1
print(li1)

NameError: name 'li1' is not defined

In [ ]:
li1=[]
li2=[]
li1.append(5)
print("append  take only one arguement ",li1)
li1.append([3,5])
print("if we give more than one makes list into list",li1)
li1.extend([5,6,7,10,12,13,7])
print("with extend we can give multiple items to list  ",li1)
li1.insert(1,8)                                      #li.insert(index,item)
print("in index no 1 it will add 8",li1)

append  take only one arguement  [5]
if we give more than one makes list into list [5, [3, 5]]
with extend we can give multiple items to list   [5, [3, 5], 5, 6, 7, 10, 12, 13, 7]
in index no 1 it will add 8 [5, 8, [3, 5], 5, 6, 7, 10, 12, 13, 7]

In [ ]:
# reverse , sort
li1.reverse()
print(li1)
li1.sort()    #note : list into list won't sopport sort, it supports only int data type
print(li1)

[5, 8, [3, 5], 5, 6, 7, 10, 12, 13, 7]

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
# index(item) , copy()
li1.index(13)  #shows index of 13
print(li1)
li3=li1.copy()
li3

NameError: name 'li1' is not defined

enter string:	racecar
yes

#SET
##unordered
##mutable
##wont aloow duplicates
##cant accessed by index

In [ ]:
set1={1,2,3,4,5,6,7,8}
print(set1)

#to create a empty set
emptyset=set()

#adds single element
emptyset.add(100)
print(emptyset)

#adds multiple element
emptyset.update({70,8,9}) #we can use [],() brackets also
print (emptyset)

#remove , removes element and error comes if element not found
set1.remove(4)
print(set1)

#discard , removes element and error wont comes if element not found
set1.discard(100)
print(set1)

#The pop() method is used with a set to remove and return a random element from the set.
print(set1.pop())
set1.pop()

# Clearing all elements from a set
set1.clear()
print(set1)
#..................................................
a={20,30,40,50,60}
b={40,50,60,70,80}

#union  merge all unique elements
c=a.union(b)
print(c)

#intersection lements common to both sets
c=a.intersection(b)
print(c)

#differece = elements in set_a but not in set_b
d=a.difference(b)
print(d)

#symmatric difference ,, elements that are in either a or b , but not in both
d=a.symmetric_difference(b)
print(d)

#membership operator
d=40 in a
e=20 in b
print(d,e)

{1, 2, 3, 4, 5, 6, 7, 8}
{100}
{8, 9, 100, 70}
{1, 2, 3, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}
1
set()
{70, 40, 80, 50, 20, 60, 30}
{40, 50, 60}
{20, 30}
{80, 20, 70, 30}
True False

In [ ]:
#set comparisions
a={20,30,40,50,60}
b={40,50,60,70,80}
a1={1,2,3,4,5,6}
b1={6,5,4,3,2,1}

#issub,issuper set
d=a.issubset(b)  #This checks if all elements of set a are also in set b.
e=a.issuperset(b)   #This checks if all elements of set b are also in set a.
print(d,e)

d=a1.issubset(b1)  #This checks if all elements of set a are also in set b.
e=a1.issuperset(b1)   #This checks if all elements of set b are also in set a.
print(d,e)

#isdisjoint

#if sets have no elements in common
a1={1,2,3,4,5,6}
b1={60,50,40,30,20,10}
d=a1.isdisjoint(b1)
print(d)

a1={1,2,3,4,5,6}
b1={6,5,4,3,2,1}
d=a1.isdisjoint(b1)
print(d)

False False
True True
True
False

In [ ]:
# Convert set to a list or tuple
b1={60,50,40,30,20,10}
a1=list(b1)
print(a1)
a1=tuple(b1)
print(a1)

[50, 20, 40, 10, 60, 30]
(50, 20, 40, 10, 60, 30)

In [ ]:
#creating set using for loop
a={i**2 for i in range(10)}
a

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [ ]:
#intersection multiple sets
a={1,2,3,4,5,6}
b={1,2,7,8,9,10}
c={1,2,11,12,13,14}
d={1,2,15,16,17,18}
e=a.intersection(b,c,d)
e

{1, 2}

#To check given number is valid or not

In [ ]:
a=int(input("enter the mobile number"))
set1=set(range(11111111111))
if a in set1:
  print("successfull")
else:
  print("enter a valid mobile number")

#TASK 18/11/2024

##LIST

In [ ]:
#1.Create a list of numbers from 1 to 10.
a=list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2.Append a new element to the list.
a.append(11)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#3.Remove duplicates from a list.
a.extend([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])
print(a)
b=set(a)
print(b)
a=list(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#4.Reverse a list.
a.reverse()
print(a)
c=a[::-1]
c

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#5.Sort a list of integers in ascending and descending order.
a=[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
a.sort()
print(a)
a.sort(reverse=True)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#6.Slice a list to extract the first three elements.
b=[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
b=b[0:3]
b

[11, 10, 9]

In [ ]:
#7.Find the index of a specific element in a list.
b=[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
b.index(11)

0

In [ ]:
#8.Count occurrences of a specific element in a list.
b=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,1]
b.count(1)

3

In [ ]:
#9.Convert a list of strings to uppercase.
str1 = ["apple", "banana", "cherry", "date", "fig","grape", "honey", "kiwi", "lemon"]
str2=list()
#or str2=[]

#upper()
for i in str1:
  x=i.upper()
  str2.append(x)
print(str2)

['APPLE', 'BANANA', 'CHERRY', 'DATE', 'FIG', 'GRAPE', 'HONEY', 'KIWI', 'LEMON']

In [ ]:
str1 = ["apple", "banana", "cherry", "date", "fig","grape", "honey", "kiwi", "lemon"]
str2=list()
#or str2=[]
#capitalise()
for i in str1:
  x=i.capitalize()
  str2.append(x)
print(str2)

['Apple', 'Banana', 'Cherry', 'Date', 'Fig', 'Grape', 'Honey', 'Kiwi', 'Lemon']

In [ ]:
str1 = ["apple", "banana", "cherry", "date", "fig","grape", "honey", "kiwi", "lemon"]
str2=list()
#or str2=[]
#title()
for i in str1:
  x=i.title()
  str2.append(x)
print(str2)

['Apple', 'Banana', 'Cherry', 'Date', 'Fig', 'Grape', 'Honey', 'Kiwi', 'Lemon']

In [ ]:
str1 = ["apple", "banana", "cherry", "date", "fig","grape", "honey", "kiwi", "lemon"]
str2=list()
#or str2=[]
#lower()
for i in str1:
  x=i.lower()
  str2.append(x)
print(str2)

['apple', 'banana', 'cherry', 'date', 'fig', 'grape', 'honey', 'kiwi', 'lemon']

In [ ]:
#10.Merge two lists into one

a=["apple", "banana", "cherry", "date", "fig","grape", "honey", "kiwi", "lemon"]
b=[1,2,3,4,5,6,7,8,9]
c=a+b
print(c)
a.extend(b)
print(a)

['apple', 'banana', 'cherry', 'date', 'fig', 'grape', 'honey', 'kiwi', 'lemon', 1, 2, 3, 4, 5, 6, 7, 8, 9]
['apple', 'banana', 'cherry', 'date', 'fig', 'grape', 'honey', 'kiwi', 'lemon', 1, 2, 3, 4, 5, 6, 7, 8, 9]

#SET

In [ ]:
#1.Create a set of unique words from a given sentence.

a="hello hello my my name name is prahaash PRAHAASH"
b=a.lower()
print(b)
b=b.split()
print(b)
c=set(b)
print("the unique words in given sentence:\n",c)

hello hello my my name name is prahaash prahaash
['hello', 'hello', 'my', 'my', 'name', 'name', 'is', 'prahaash', 'prahaash']
the unique words in given sentence:
 {'hello', 'name', 'prahaash', 'my', 'is'}

In [ ]:
#2.Add an element to a set.
a={1,2,3,4,5,6,7,8,9}
a.add(10)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#3.Remove an element from a set.
a={1,2,3,4,5,6,7,8,9}
a.remove(1)
print(a)
#discard === Removes element x from the set if it exists. If x is not found, it does nothing (does not raise an error).
a.discard(2)
a.discard(1)
print(a)

{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}

In [ ]:
#4.Find the union, intersection, and difference between two sets
a={20,30,40,50,60}
b={40,50,60,70,80}

#union  merge all unique elements
c=a.union(b)
print(c)

#intersection lements common to both sets
c=a.intersection(b)
print(c)

#differece = elements in set_a but not in set_b
d=a.difference(b)
print(d)

{70, 40, 80, 50, 20, 60, 30}
{40, 50, 60}
{20, 30}

In [ ]:
#5.Check if a set is a subset of another set.
#set comparisions
a={20,30,40,50,60}
b={40,50,60,70,80}
a1={1,2,3,4,5,6}
b1={6,5,4,3,2,1}

#issub,issuper set
d=a.issubset(b)  #This checks if all elements of set a are also in set b.
e=a.issuperset(b)   #This checks if all elements of set b are also in set a.
print(d,e)

d=a1.issubset(b1)  #This checks if all elements of set a are also in set b.
e=a1.issuperset(b1)   #This checks if all elements of set b are also in set a.
print(d,e)

#isdisjoint

#if sets have no elements in common
a1={1,2,3,4,5,6}
b1={60,50,40,30,20,10}
d=a1.isdisjoint(b1)
print(d)

a1={1,2,3,4,5,6}
b1={6,5,4,3,2,1}
d=a1.isdisjoint(b1)
print(d)

False False
True True
True
False

In [ ]:
#6.Convert a list with duplicate values to a set to remove duplicates.
li1=[1,1,2,2,3,3,4,5,6,7,7]
set1=set(li1)
print(set1)
li1=list(set1)
li1

{1, 2, 3, 4, 5, 6, 7}

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#7.Iterate through all elements of a set.
li1=[1,1,2,2,3,3,4,5,6,7,7]
a=0
li2=[]
for i in li1:
  if a!=i:
    li2.append(i)
    a=i
print(li2)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#8.Find the symmetric difference between two sets.
a={12,3,14,5,16,7,18}
b={1,2,3,4,5,6,7,8,9,10}
c=a.symmetric_difference(b)
c

{1, 2, 4, 6, 8, 9, 10, 12, 14, 16, 18}

In [ ]:
#9.Check if a set is empty.

li=set(input("enter list elements"))
if li==set():   #or li=={}
  print("empty set",li)
else:
  print("set contains elements",li)

enter list elements1
set contains elements {'1'}

In [ ]:
#10.Compare two sets for equality.
a={12,13,14,15,16,17}
b={12,13,14,15,16,1}
if a==b:
  print("sets are equal")
else:
  print("not equal")

not equal

#FILE HANDLING

In [ ]:
#	Read-only mode: Opens the file for reading. If the file does not exist, it raises a FileNotFoundError. (This is the default mode.)
import os
from google.colab import files
a=files.upload()
b='basic.txt'
with open (b,'r') as c:
  d=c.read()
  print(d)

Saving basic.txt to basic (1).txt
1. HTML (HyperText Markup Language)

Explanation: HTML is the standard markup language used to create web pages. It structures the content on the web,
defining elements like headings, paragraphs, links, and images.

Use Case: Building the structure of a blog post where you use HTML to define the title, content, and images displayed on the page.


2. CSS (Cascading Style Sheets)

Explanation: CSS is used to style HTML elements. It controls layout, colors, fonts, and overall aesthetics of web pages.

Use Case: Designing the layout and appearance of a website, such as using CSS to
create responsive designs that adjust based on the device screen size.


Bootstrap

Explanation: Bootstrap is a popular front-end framework that provides pre-designed CSS components and JavaScript plugins for faster web development.

Use Case: Using Bootstrap to quickly create a responsive website layout with navigation bars, buttons, and
grid systems without writing extensive CSS from scratch.


Tailwind CSS

Explanation: Tailwind CSS is a utility-first CSS framework that allows developers to create designs directly in the markup by using utility classes.

Use Case: Building a landing page where you apply Tailwind utility classes to style elements on the fly without writing custom CSS.


3. JavaScript

Explanation: JavaScript is a programming language that enables dynamic and interactive features on web pages.
It runs in the browser and is essential for client-side scripting.

Use Case: Creating an interactive quiz application that provides instant feedback to users based on their input without refreshing the page.


4. Angular

Explanation: Angular is a web application framework developed by Google for building single-page applications (SPAs) using TypeScript.
 It offers a component-based architecture.

Use Case: Developing a complex web application like an online e-commerce site where the user can navigate through products without reloading the page.


5. Ionic

Explanation: Ionic is a framework for building cross-platform mobile applications using web technologies (HTML, CSS, JavaScript).
It allows developers to create native-like apps for iOS and Android.

Use Case: Creating a mobile app for a restaurant that allows users to browse the menu, place orders, and make reservations.


6. Python

Explanation: Python is a high-level, versatile programming language known for its readability and simplicity.
 It’s widely used in various fields like web development, data analysis, and machine learning.

Use Case: Building a data analysis tool that processes and visualizes sales data for a retail business using libraries like Pandas and Matplotlib.


7. Node.js

Explanation: Node.js is a runtime environment that allows JavaScript to run on the server side. It’s designed for building scalable network applications.

Use Case: Creating a real-time chat application where users can send and receive messages instantly, leveraging WebSocket functionality in Node.js.


8. PHP

Explanation: PHP is a server-side scripting language primarily used for web development.
It is embedded in HTML and used to manage dynamic content and databases.

Use Case: Developing a content management system (CMS) like WordPress, where users can create, edit, and manage website content easily.


Flutter

Explanation: Flutter is a UI toolkit developed by Google for building natively compiled applications for mobile, web,
and desktop from a single codebase using Dart.

Use Case: Creating a mobile app for a fitness tracker that displays user activity, allows workout logging, and tracks progress over time.


9. MS SQL (Microsoft SQL Server)

Explanation: MS SQL is a relational database management system (RDBMS) developed by Microsoft for storing and managing data.
It uses SQL for data manipulation.

Use Case: Running a banking application that securely manages customer account data, transactions, and balances using stored procedures and transactions in MS SQL.


10. MySQL

Explanation: MySQL is an open-source relational database management system widely used for web applications.
It is known for its reliability and ease of use.

Use Case: Hosting a social media platform where user profiles, posts, and interactions are stored and retrieved from a MySQL database.


11. MongoDB

Explanation: MongoDB is a NoSQL database that uses a document-oriented data model.
It stores data in JSON-like documents, making it flexible for handling unstructured data.

Use Case: Developing an online movie database where users can add, review, and search for movies with varying attributes stored in MongoDB.


Summary

Each of these technologies plays a crucial role in web and app development, with specific use cases that demonstrate their capabilities in real-time applications. By combining them, developers can create robust and interactive software solutions for various industries.

In [ ]:
print(a)

{'basic.txt': b'1. HTML (HyperText Markup Language)\r\n\r\nExplanation: HTML is the standard markup language used to create web pages. It structures the content on the web, \r\ndefining elements like headings, paragraphs, links, and images.\r\n\r\nUse Case: Building the structure of a blog post where you use HTML to define the title, content, and images displayed on the page.\r\n\r\n\r\n2. CSS (Cascading Style Sheets)\r\n\r\nExplanation: CSS is used to style HTML elements. It controls layout, colors, fonts, and overall aesthetics of web pages.\r\n\r\nUse Case: Designing the layout and appearance of a website, such as using CSS to \r\ncreate responsive designs that adjust based on the device screen size.\r\n\r\n\r\nBootstrap\r\n\r\nExplanation: Bootstrap is a popular front-end framework that provides pre-designed CSS components and JavaScript plugins for faster web development.\r\n\r\nUse Case: Using Bootstrap to quickly create a responsive website layout with navigation bars, buttons, and \r\ngrid systems without writing extensive CSS from scratch.\r\n\r\n\r\nTailwind CSS\r\n\r\nExplanation: Tailwind CSS is a utility-first CSS framework that allows developers to create designs directly in the markup by using utility classes.\r\n\r\nUse Case: Building a landing page where you apply Tailwind utility classes to style elements on the fly without writing custom CSS.\r\n\r\n\r\n3. JavaScript\r\n\r\nExplanation: JavaScript is a programming language that enables dynamic and interactive features on web pages. \r\nIt runs in the browser and is essential for client-side scripting.\r\n\r\nUse Case: Creating an interactive quiz application that provides instant feedback to users based on their input without refreshing the page.\r\n\r\n\r\n4. Angular\r\n\r\nExplanation: Angular is a web application framework developed by Google for building single-page applications (SPAs) using TypeScript.\r\n It offers a component-based architecture.\r\n\r\nUse Case: Developing a complex web application like an online e-commerce site where the user can navigate through products without reloading the page.\r\n\r\n\r\n5. Ionic\r\n\r\nExplanation: Ionic is a framework for building cross-platform mobile applications using web technologies (HTML, CSS, JavaScript). \r\nIt allows developers to create native-like apps for iOS and Android.\r\n\r\nUse Case: Creating a mobile app for a restaurant that allows users to browse the menu, place orders, and make reservations.\r\n\r\n\r\n6. Python\r\n\r\nExplanation: Python is a high-level, versatile programming language known for its readability and simplicity.\r\n It\xe2\x80\x99s widely used in various fields like web development, data analysis, and machine learning.\r\n\r\nUse Case: Building a data analysis tool that processes and visualizes sales data for a retail business using libraries like Pandas and Matplotlib.\r\n\r\n\r\n7. Node.js\r\n\r\nExplanation: Node.js is a runtime environment that allows JavaScript to run on the server side. It\xe2\x80\x99s designed for building scalable network applications.\r\n\r\nUse Case: Creating a real-time chat application where users can send and receive messages instantly, leveraging WebSocket functionality in Node.js.\r\n\r\n\r\n8. PHP\r\n\r\nExplanation: PHP is a server-side scripting language primarily used for web development. \r\nIt is embedded in HTML and used to manage dynamic content and databases.\r\n\r\nUse Case: Developing a content management system (CMS) like WordPress, where users can create, edit, and manage website content easily.\r\n\r\n\r\nFlutter\r\n\r\nExplanation: Flutter is a UI toolkit developed by Google for building natively compiled applications for mobile, web, \r\nand desktop from a single codebase using Dart.\r\n\r\nUse Case: Creating a mobile app for a fitness tracker that displays user activity, allows workout logging, and tracks progress over time.\r\n\r\n\r\n9. MS SQL (Microsoft SQL Server)\r\n\r\nExplanation: MS SQL is a relational database management system (RDBMS) developed by Microsoft for storing and managing data. \r\nIt uses SQL for data manipulation.\r\n\r\nUse Case: Running a banking application that securely manages customer account data, transactions, and balances using stored procedures and transactions in MS SQL.\r\n\r\n\r\n10. MySQL\r\n\r\nExplanation: MySQL is an open-source relational database management system widely used for web applications. \r\nIt is known for its reliability and ease of use.\r\n\r\nUse Case: Hosting a social media platform where user profiles, posts, and interactions are stored and retrieved from a MySQL database.\r\n\r\n\r\n11. MongoDB\r\n\r\nExplanation: MongoDB is a NoSQL database that uses a document-oriented data model. \r\nIt stores data in JSON-like documents, making it flexible for handling unstructured data.\r\n\r\nUse Case: Developing an online movie database where users can add, review, and search for movies with varying attributes stored in MongoDB.\r\n\r\n\r\nSummary\r\n\r\nEach of these technologies plays a crucial role in web and app development, with specific use cases that demonstrate their capabilities in real-time applications. By combining them, developers can create robust and interactive software solutions for various industries.'}